<div class="sidebar-header position-relative">
	<div class="d-flex justify-content-between align-items-center">
		<div class="logo">
			<a href="/">
				Novák
			</a>
		</div>
	</div>
</div>
<div class="sidebar-menu">
	<ul class="menu">		
		<li class="sidebar-item {{ this.page.title == 'Főoldal' ? 'active' }}">
			<a href="/" class='sidebar-link'>
				<i class="fa-light fa-house text-center" style="width: 30px;"></i>
				<span>Hírfolyam</span>
			</a>
		</li>
		
		<div class="dropdown mt-2 sidebar-item">
			<button class="btn dropdown-toggle sidebar-link w-100 justify-content-between" type="button" id="products" data-bs-toggle="dropdown" aria-expanded="false">
				<p class="m-0 d-flex justify-content-start align-items-center">
					<i class="fa-light fa-box text-center" style="width: 30px;"></i>
					<span>Termékek</span>
				</p>
			</button>
			<ul class="dropdown-menu position-relative" aria-labelledby="products">
				{% for category in fcategories %}
				<li>
					<a class="dropdown-item" href="{{ 'termekek'|page({slug: category.slug}) }}">
						{{ category.name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<li class="sidebar-item {{ this.page.title == 'Profil' ? 'active' }}">
			<a href="{{ 'profil'|page }}" class='sidebar-link'>
				<i class="fa-light fa-user text-center" style="width: 30px;"></i>
				<span>Profil</span>
			</a>
		</li>

		<li class="sidebar-item">
			<hr class="btn-primary my-3">
		</li>
		<li class="sidebar-item">
			<a href="" onclick="onLogout(event);" class='sidebar-link'>
				<i class="fa-light fa-arrow-right-from-bracket text-center" style="width: 30px;"></i>
				<span>Kijelentkezés</span>
			</a>
		</li>

	</ul>
</div>