<div class="row">
    <div class="form-group col-lg-5 col-md-6">
        <label for="" class="text-black-50 font-weight-normal mb-1"><small class="text-white">Szállítási név</small></label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Szállítási név"
            value="{{ user.trans_name  }}" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="" class="text-black-50 font-weight-normal mb-1"><small class="text-white">Irányítószám</small></label>
        <input type="number" name="postcode" class="form-control" placeholder="Irányítószám" value="{{ user.trans_zip }}"
            />
    </div>
    <div class="form-group col-md-3">
        <label for="" class="text-black-50 font-weight-normal mb-1"><small class="text-white">Település</small></label>
        <input type="text" name="city" class="form-control" placeholder="Település" value="{{ user.trans_city }}"
            />
    </div>
    <div class="form-group col-md-3">
        <label for="" class="text-black-50 font-weight-normal mb-1"><small class="text-white">Közterület megnevezése</small></label>
        <input type="text" name="address_name" class="form-control" placeholder="Közterület neve"
            value="{{ user.trans_address }}" />
    </div>
    <div class="form-group col-md-3">
        <label for="" class="text-black-50 font-weight-normal mb-1"><small class="text-white">Közterület jellege</small></label>
        <select name="address_type" class="form-control" id="">
            <option value="" selected disabled>Közterület jellege</option>
            <optgroup label="Válasz:">
                <option {{ user.billing_address_type  == 'tér' ? "selected" : "" }} value="tér">tér</option>
                <option {{ user.billing_address_type  == 'út' ? "selected" : "" }} value="út">út</option>
                <option {{ user.billing_address_type  == 'utca' ? "selected" : "" }} value="utca">utca</option>
                <option {{ user.billing_address_type  == 'köz' ? "selected" : "" }} value="köz">köz</option>
                <option {{ user.billing_address_type  == 'sugárút' ? "selected" : "" }} value="sugárút">sugárút</option>
                <option {{ user.billing_address_type  == 'körút' ? "selected" : "" }} value="körút">körút</option>
                <option {{ user.billing_address_type  == 'helyrajzi szám' ? "selected" : "" }} value="helyrajzi szám">
                    helyrajzi szám</option>
                <option {{ user.billing_address_type == 'tanya' ? "selected" : "" }} value="tanya">tanya</option>
                <option {{ user.billing_address_type == 'lakótelep' ? "selected" : "" }} value="lakótelep">lakótelep</option>
            </optgroup>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4">
        <label for="" class="text-black-50 font-weight-normal mb-1"><small class="text-white">Házszám</small></label>
        <input type="text" name="flat_number" class="form-control" placeholder="Házszám"
            value="{{ user.trans_house_number }}" />
    </div>
    <div class="form-group col-md-4">
        <label for="" class="text-black-50 font-weight-normal mb-1 except"><small class="text-white">Emelet</small></label>
        <input type="text" name="floor" class="form-control except" value="{{ user.trans_floor }}" placeholder="Emelete" />
    </div>
    <div class="form-group col-md-4">
        <label for="" class="text-black-50 font-weight-normal mb-1 except"><small class="text-white">Ajtó</small></label>
        <input type="text" name="door_num" class="form-control except" value="{{ user.trans_door }}"
            placeholder="Ajtó" />
    </div>
</div>