title = "Profil"
url = "/profil"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[session]
security = "user"
redirect = "belepes"

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0
==
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card card-body p-4">
        <div class="d-flex align-items-center mb-mb-4">
          <div class="d-none d-md-flex justify-content-center align-items-center" 
          style="width: 45px; height: 45px;">
            <i class="fa-light fa-user fa-2xl prim"></i>
          </div>
          <div class="ms-2">
            <h2 class="h3 m-0">Alapadatok</h2>
            <p class="text-secondary m-0">Profilhoz tartozó belépési adatok.</p>
          </div>
        </div>
        <hr class="btn-primary my-3 d-md-none">
        <div class="row px-lg-4">
          <div class="col-lg-4 mb-3">
            <p class="text-white h6 fw-bold m-0">
              Teljes név
            </p>
            <p class="text-secondary m-0">
              {{ user.name }}
            </p>
          </div>
      
          <div class="col-lg-4 mb-3">
            <p class="text-white h6 fw-bold m-0">
              E-mail cím
            </p>
            <p class="text-secondary m-0">
              {{ user.email }}
            </p>
          </div>
  
          <div class="col-lg-4">
            <a href="{{ 'profil-adatmodositas'|page }}" class="btn btn-primary fw-bold">
              Módosítás
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="card card-body p-4">
        <div class="d-flex align-items-center mb-md-4">
          <div class="d-none d-md-flex justify-content-center align-items-center" 
          style="width: 45px; height: 45px;">
            <i class="fa-light fa-user fa-2xl prim"></i>
          </div>
          <div class="ms-md-2">
            <h2 class="h3 m-0">Számlázási adatok</h2>
            <p class="text-secondary m-0">Profilhoz tartozó számlázási adatok.</p>
          </div>
        </div>
        <hr class="btn-primary my-3 d-md-none">
        <div class="row">
          <div class="mb-3 col-lg-6">
            <p class="text-white h6 fw-bold m-0">
              Számlázási név
            </p>
            <p class="text-secondary m-0">
              {{ user.billing_name ? user.billing_name : 'Nincs megadva' }}
            </p>
          </div>
          <div class="mb-3 col-lg-6">
            <p class="text-white h6 fw-bold m-0">
              Adószám
            </p>
            <p class="text-secondary m-0">
              {{ user.billing_company_number ? user.billing_company_number : 'Nincs megadva' }}
            </p>
          </div>
          <div class="mb-3 col-lg-6">
            <p class="text-white h6 fw-bold m-0">
              E-mail cím
            </p>
            <p class="text-secondary m-0">
              {{ user.billing_email ? user.billing_email : 'Nincs megadva' }}
            </p>
          </div>
          <div class="mb-3 col-lg-6">
            <p class="text-white h6 fw-bold m-0">
              Telefonszám
            </p>
            <p class="text-secondary m-0">
              {{ user.billing_phone ? user.billing_phone : 'Nincs megadva' }}
            </p>
          </div>
          <div class="mb-3 col-12">
            <p class="text-white h6 fw-bold m-0">
              Számlázási cím
            </p>
            <p class="text-secondary m-0">
              {% if user.billing_address %}
                {{ user.billing_zip }}
                {{ user.billing_city }}
                {{ user.billing_address }} 
                {{ user.billing_address_type }} 
                {{ user.billing_house_number }}
                {{ user.billing_floor }}
                {{ user.billing_floor ? 'emelet' }}
                {{ user.billing_door }}
                {{ user.billing_door ? 'ajtó' }}
              {% else %}
                Nincs megadva
              {% endif %}
            </p>
          </div>
        </div>
    
        <a href="{{ 'profil-szamlazas'|page }}" class="btn btn-primary fw-bold">
          Módosítás
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-body p-4">
        <div class="d-flex align-items-center flex-wrap mb-4">

          <div class="d-flex align-items-center col-lg-8">
            <div class="d-none d-md-flex justify-content-center align-items-center" 
            style="width: 45px; height: 45px;">
              <i class="fa-light fa-user fa-2xl prim"></i>
            </div>
            <div class="ms-md-2">
              <h2 class="h3 m-0">Szállítási adatok</h2>
              <p class="text-secondary m-0">Profilhoz tartozó szállítási adatok.</p>
            </div>
          </div>
          <hr class="btn-primary my-3 d-md-none">
          <form data-request="onUpdateTransData" data-request-flash class="col-lg-4 text-end mt-4 mt-md-0">
            <input type="text" name="trans_name" placeholder="Teljes név" value="{{ user.billing_name }}" hidden>
            <input type="text" name="trans_zip" placeholder="Irányítószám" value="{{ user.billing_zip }}" hidden>
            <input type="text" name="trans_city" placeholder="Város" value="{{ user.billing_city }}" hidden>
            <input type="text" name="trans_address" placeholder="Cím" value="{{ user.billing_address }}" hidden>
            <input type="text" name="trans_address_type" placeholder="Cím" value="{{ user.billing_address_type }}" hidden>
            <input type="text" name="trans_house_number" placeholder="Házszám" value="{{ user.billing_house_number }}" hidden>
            <input type="text" name="trans_floor" placeholder="Emelet" value="{{ user.billing_floor }}" hidden>
            <input type="text" name="trans_door" placeholder="Ajtó" value="{{ user.billing_door }}" hidden>

            <button type="submit" class="btn fw-bold btn-primary">
              Számlázási adatok importálása
            </button>
      
          </form>
        </div>

    

        <div class="row">
          <div class="mb-3 col-lg-6">
            <p class="text-white h6 fw-bold m-0">
              Szállítási név
            </p>
            <p class="text-secondary m-0">
              {{ user.trans_name ? user.trans_name : 'Nincs megadva' }}
            </p>
          </div>
          <div class="mb-3 col-12">
            <p class="text-white h6 fw-bold m-0">
              Szállítási cím
            </p>
            <p class="text-secondary m-0">
              {% if user.trans_address %}
                {{ user.trans_zip }}
                {{ user.trans_city }}
                {{ user.trans_address }} 
                {{ user.trans_address_type }} 
                {{ user.trans_house_number }}
                {{ user.trans_floor }}
                {{ user.trans_floor ? 'emelet' }}
                {{ user.trans_door }}
                {{ user.trans_door ? 'ajtó' }}
              {% else %}
                Nincs megadva
              {% endif %}
            </p>
          </div>
        </div>
    
        <a href="{{ 'profil-szallitas'|page }}" class="btn btn-primary fw-bold">
          Módosítás
        </a>
      </div>
    </div>
  </div>
</div>